@import "partials/mixins";
@import "partials/placeholders";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
//Variables
$centerAligned: center;
$headingFont: 'Manrope', serif;
$mobilePadding: 0 4vw;

//Reseting box sizing for a coprehensive layout.
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font: {
        family: $headingFont;
    }
}

/*
 Remove bullet point and
 the default left padding from 
 unordered lists
*/
ul {
    list-style-type: none;
    padding-left: 0;
}

/* Main container */
#main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14vh 0;
}

//Header styles
#topHeader {
    @include flexContainer(space-between, stretch, nowrap, row);
    height: 13vh;
    #site-logo {
        @include flexContainer(center, flex-end, nowrap, column);
        flex: 2;
        margin: 0;
        padding-top: 12px;
        padding-left: 5px;
        img {      
            max-width: 160px;
        }
    }

    nav {
        @include flexContainer(flex-end, flex-end, no-wrap, row);
        flex: 1 150px;
        margin-right: 10px;
        #hamburger-menu {
            border: none;
            background-color: transparent;
            cursor: pointer;
            max-width: 45px;
        }

        #main-menu {
            @include flexContainer(stretch, flex-end, wrap, column);
            position: absolute;
            top: 75px;
            right: 0;
            background-color: #000814;
            visibility: hidden;
            padding: 10px 20px;
            height: 400px;
            width: 100%;
            z-index: 2;

            li {
                flex: 1 auto;
            }

            a {
                &:link, &:visited {
                    color: #fff;
                    font: {
                        size: 1.5rem;
                        family: 'Manrope', sans-serif;
                    }
                    text-decoration: none;
                    border-bottom: 2px solid #fff;
                    transition: .5s color;
                }
                &:hover {
                    color:gold;
                }
            }


        }
    }
}

//Hero styles

#hero {
    @include flexContainer(flex-start, center, nowrap, column);
    padding: $mobilePadding;
    
    h1 {
        font: {
            size: 2.2rem;
        }
        padding-left: 4px;
        border-left: 4px solid #000;
        order: 0;
        margin-top: 6vh;
        margin-bottom: 12px;
    }

    h2 {
        margin-top: 2vh;
        order: 1;
        font: {
            weight: normal;
            size: 1.2rem;
        }
    }

    #allCoursesBtn {
        order: 1;
        margin-top: 4vh;
        background-color: hsl(37, 54%, 44%);
        color: #fff;
    }

    p {
        order: 3;
        font: {
            family: Georgia, serif;
            size: 1.1rem;
        }
        margin-top: 8vh;
        letter-spacing: calc(1rem * 0.05);
        line-height: calc(1rem * 1.4);
    }

    button {
        order: 4;
        align-self: flex-start;
    }

    #author-picture {
        margin-top: 30vh;
        order: 2;
        img {
            border-radius: 50%;
        }
        figcaption {
            font: {
                family: Verdana, serif;
                weight: light;
                size: 0.8rem;
            }
            text-align: center;
            margin-top: 5px;
        }
    }

}

/* btn classes */

.btn {
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    background-color:darkkhaki;
    cursor: pointer;
    transition: .5s background-color;
    &:hover {
        background-color: gold;
    }
}

/* Main */


/* Courses */
main {
    #online-courses {
        @include flexContainer(space-around, flex-start, nowrap, column);
        padding: $mobilePadding;
        header {
            h2 {
                font: {
                    size: 2rem;
                }
                border-left: 4px solid #000;
                padding-left: 5px;
            }
            font: {
                family: $headingFont;
            }
        }

        .course {
            margin-top: 10vh;
            @include flexContainer(initial, initial, nowrap, column);
            gap: 20px;
            
            figure {
                margin: 0;
                height: 250px;
                img {
                    max-height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            h3 {
                order: -1;
                font: {
                    size: 1.5rem;
                }
            }
        }
    }
}
