@import "partials/mixins";
@import "partials/placeholders";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
//Variables
$centerAligned: center;
$headingFont: 'Noto Serif Display', serif;

//Reseting box sizing for a coprehensive layout.
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    aspect-ratio: auto;
}

/*
 Remove bullet point and
 the default left padding from 
 unordered lists
*/
ul {
    list-style-type: none;
    padding-left: 0;
}

//Header styles
#topHeader {
    @include flexContainer(center, stretch, wrap, row);
    h1 {
        font: {
            family: $headingFont;
            size: 1.5rem;
        }
        order: 1;
        text-align: $centerAligned;
        visibility: hidden;
    }

    #site-logo {
        @include flexContainer(flex-start, flex-start, no-wrap, row);
        flex: 2 150px;
        margin: 10px;

        img {      
            max-width: 160px;
        }
    }

    nav {
        @include flexContainer(flex-end, flex-end, no-wrap, row);
        flex: 1 150px;
        margin-right: 10px;
        #hamburger-menu-icon {
            max-width: 45px;
        }

        #main-menu {
            @include flexContainer(stretch, flex-end, wrap, column);
            position: absolute;
            top: 75px;
            right: 0;
            background-color: #000814;
            visibility: hidden;
            padding: 10px 20px;
            height: 400px;
            width: 100%;
            z-index: 2;
            li {
                flex: 1 auto;
            }

            a:link, a:visited {
                color: #fff;
                font: {
                    size: 1.5rem;
                    family: 'Manrope', sans-serif;
                }
                text-decoration: none;
                border-bottom: 2px solid #fff;
            }
        }
    }
}